APP_NAME=TokioBlake3App
PRODUCT_BUNDLE_IDENTIFIER=dev.gobley.uniffi.examples.tokioblake3app
GRADLE_ROOT_PROJECT_DIR=$SRCROOT/../../..
GRADLE_PROJECT_NAME=:examples:tokio-blake3-app
GRADLE_PROJECT_CONFIGURE_OWN_APP=false
GRADLE_PROJECT_CONFIGURE_OWN_AUDIO_CPP_APP=false
GRADLE_PROJECT_CONFIGURE_OWN_TOKIO_BLAKE3_APP=true
GRADLE_PROJECT_CONFIGURE_OWN_TOKIO_BORING_APP=false
DEVELOPMENT_TEAM=
