APP_NAME=TokioBoringApp
PRODUCT_BUNDLE_IDENTIFIER=dev.gobley.uniffi.examples.tokioboringapp
GRADLE_ROOT_PROJECT_DIR=$SRCROOT/../../..
GRADLE_PROJECT_NAME=:examples:tokio-boring-app
GRADLE_PROJECT_CONFIGURE_OWN_APP=false
GRADLE_PROJECT_CONFIGURE_OWN_AUDIO_CPP_APP=false
GRADLE_PROJECT_CONFIGURE_OWN_TOKIO_BLAKE3_APP=false
GRADLE_PROJECT_CONFIGURE_OWN_TOKIO_BORING_APP=true
DEVELOPMENT_TEAM=
